<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940804112641-4f7umuaohdtkn511io45sf1b4aeiocuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940804112641-4f7umuaohdtkn511io45sf1b4aeiocuo</string>
	<key>API_KEY</key>
	<string>AIzaSyDWuA1xrg0-ThKCiOa244f65nYUXE9tuSc</string>
	<key>GCM_SENDER_ID</key>
	<string>940804112641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymbuddy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gymbuddy-b4e20</string>
	<key>STORAGE_BUCKET</key>
	<string>gymbuddy-b4e20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940804112641:ios:157e4b1744a6c0481d9b00</string>
</dict>
</plist>